<div class="container">
    <footer class="py-3 my-4" style="width:100%">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="mailto:hello@workifycareers.ai ?subject=Question%20About%20Job%20opening&body=My%20Name%20%3A%3Cyour%20name%20here%3E%0D%0AYour%20Question%20%3A%20%3Center%20your%20question%3E" class="nav-link px-2 text-muted">Contact Us </a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
      <p class="text-center text-muted">© 2022 Workify, Inc</p>
    </footer>
  </div>